
<div class="card">
    <div class="card-header h3">
      Group - Contacts
    </div>
    <div class="card-body">
        <div class="list-modal">
            <ul class="list-group">

                <li class="list-group-item" ng-repeat="c in contacts">
                    {{c.FirstName}} {{c.LastName}}
                        <div class="btn-group btn-group-sm pull-right" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-secondary" ng-click="goToContact(c.Id)" title="view group"><i class="fa fa-list"></i></button>
                            <button type="button" class="btn btn-danger" ng-click="deleteGroupContact(c.Id)" title="delete group contact"><i class="fa fa-trash"></i></button>
                        </div>
                 
                </li>
                <li class="list-group-item text-center" ng-if="contacts.length == 0"><h5>No contacts for this list</h5></li>
                <li class="list-group-item pull-right">
                    <button class="btn btn-primary pull-right" value="Return To Groups List" ng-click="goToGroupList()">Return To Groups List</button>
                </li>
            </ul>
        </div>
    </div>
</div>







